body {
  background-color: #f2f2f2;
}

* {
  font-family: "Lato", "Helvetica", sans-serif;
}

.btn-standard {
  background-color: #ff3366;
  color: white;
}

.btn-standard:hover {
  background-color: #fc285d;
  color: white;
}
